<div class="main-container">
    <div class="container-fluid">
    <header class="header-6">
      <div class="branding">
          <a href="..." class="nav-link">
             <img class="logo-overried" src="/assets/images/E2Y_logo.svg">
          </a>
      </div>
      <div class="header-nav">
          <a href="http://localhost:4200/home" class="active nav-link"><span class="nav-text">Home</span></a>
          <a href="http://localhost:4200/Documentation" class="nav-link"><span class="nav-text">Documentation</span></a>
      </div>
      <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
  </header>
  <router-outlet></router-outlet>
    </div>
  </div>