.header-text{
    text-align: center;
}

.header-color{
    background-color: #002538;
}

.primary-colors-01{
    background-color: #2b4260;
}

.primary-colors-02{
    background-color: #4c687e;
}

.primary-colors-03{
    background-color: #7ebfbc;
}

.primary-colors-04{
    background-color: #ff3f34;
}

.primary-colors-05{
    background-color: #05c46b;
}

.primary-colors-06{
    background-color: #808e9b;
}

.primary-colors-07{
    background-color: #d2dae2;
}

.grid-color{
    background-color: #48dbfb;
    height: 25px;
    border-radius: 3px;
    text-align: center;
    width: 100%;
    display: block;
}

.marginto15{
    margin-top: 15px;
}

.clr-select{
    width:350px;
}

.overried{
    background-color: #2b4260 !important;
    border-color: #2b4260 !important;
}

.overried-second{
    background-color: #7ebfbc !important;
    border-color: #7ebfbc !important;
}

.overried-delete{
    background-color: #ff3f34 !important;
    border-color: #ff3f34 !important;
}

.overried-close{
    background-color: #d2dae2 !important;
    border-color: #d2dae2 !important;
}

.overried-secondary-primary{
    border-color: #2b4260 !important;
    color: #2b4260 !important;
}